@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
}
main{
    width: 100%;
    height: 100%;
    background-color: white;
}
#header{
    width: 100%;
    height: 68px;   
    position: relative;
}
.header-container{
    width: 1100px;
    height: 100%;
    margin:auto;
    /* background-color: coral; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-container .logo{
    font-size: 30px ;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
}
.desktop-nav{
    display: flex;
    gap: 2rem;
    font-size: 18px;
}
.desktop-nav a{
    color: white;
    text-decoration: none;
    font-weight: 520;
}

button{
    width: 48px;
    height: 48px;    
    background: none;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    right: 100px;
    top: 9px;
    cursor: pointer;
}
span i{
    font-size: 22px;   
}


header.darkHeader{
    background-color: black;
    color: white;
    box-shadow: 0px 0px 5px 1px white;
}
.header{
    background-color: rgb(14, 145, 226);
}
main.darkMain{
    background-color: black;
}
span{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.light{
    display: none;
}
.night{
   display: block;
}
.show{
    display: block;
    color: white;
}
.hide{
    display: none;
}