*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
input{
    padding:10px 20px;
    font-size: 24px;
}
h1{
    font-size: 40px;
}

button{
    padding: 15px 70px;
    font-size: 22px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}