@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    width: 420px;
    height: auto;    
    display: flex;
    flex-direction: column; 
    gap: 1rem;
    padding: 30px 45px 55px;   
    box-shadow: 0px 0px 20px 2px lightgray;
}
form h2{
    text-align: center;
    font-size: 30px;
    margin-block:0px 20px;
    font-weight: 600;
}
form input{
    width: 100%;
    padding: 16px;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 10px 0px lightgray;
}
form label{
    font-weight: 500;
    font-size: 18px;    
}
form button{
    width: 100%;
    padding: 16px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-weight: 520;
    color: white;
    background-color:black;
}
form>button:first-of-type{
    margin-block: 20px 0px;
    background-color: rgb(25, 129, 199);
}
form>button:first-of-type:hover{
    background-color: black;
    color: white;
}
form>button:last-of-type:hover{
    background-color: rgb(141, 4, 4);
    color: white;
}

form sup{
    color: rgb(228, 5, 5);
    font-size: 18px;
}

form #emailErr{
    font-size: 14px;
    padding-left: 10px;
    margin-top: 5px;
    color: red;
}
form #passErr{
    font-size: 14px;
    padding-left: 10px;
    margin-top: 5px;
    color: red;
}