*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#dark{
    color: white;
    background-color: black;
    border: none;
    padding: 15px 150px;
    font-size: 40px;
    border-radius: 10px;
    cursor: pointer;
}
