@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "League Spartan", system-ui;
}

body{
    width: 100%;    
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}
h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0px 20px 0px;
}

.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0px;
}

button.normal{
    font-size: 16px;
    font-weight: 600;
    padding: 13px 40px;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s ease;
}

/* Global Style Ends */

/* Header start */
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #e3e6f3;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.06);
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style-type: none;
    padding: 0px 30px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 20px;
    color: #1a1a1a;
    font-weight: 600;
    transition: 0.3 ease;
}

#navbar li a:hover{
    color: #088178;
}

#navbar li a.active{
    color: #088178;
}

#navbar li a.active::after{
    content: "";
    width: 20%;
    height: 10%;
    background-color:#088178;
    position: absolute;
    bottom: 0;
    left: 30px;
}

#navbar li a:hover::after{
    content: "";
    width: 20%;
    height: 10%;
    background-color:#088178;
    position: absolute;
    bottom: 0;
    left: 30px;
}

/* Home Page */
#hero{
    height: 90vh;
    width: 100%;
    background-image: url('img/hero4.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top 25% right 0;
    padding: 0 80px 0 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#hero h4{
    padding-bottom: 15px;
}
#hero h1{
    color: #088178;
}
#hero button{
    background-image: url('img/button.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    padding: 14px 80px 14px 65px;
    font-weight: 700;
    font-size: 18px;
    color: #088178;
    cursor: pointer;
}

/* Feature section */

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    border: 2px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0px;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70,62,221,0.1);
}

#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6{
    line-height: 1;
    border-radius:4px;
    color: #088178;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    padding: 9px 8px 6px 8px;
    background-color: #fddde4;
}

#feature .fe-box:nth-of-type(2) h6{
    background-color: #cdebbc;
}

#feature .fe-box:nth-of-type(3) h6{
    background-color: #d1e8f2;
}
#feature .fe-box:nth-of-type(4) h6{
    background-color: #cdd4f8;
}
#feature .fe-box:nth-of-type(5) h6{
    background-color: #f6dbf6;
}
#feature .fe-box:nth-of-type(6) h6{
    background-color: #fff2e5;
}

/* Product Section */
#product1{
    text-align: center;
}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.06);

}
#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}
#product1 .pro .des span{
    color: #606063;
    font-size: 14px;
    font-weight: 500;
}
#product1 .pro .des h5{
    padding: 7px;
    color: #1a1a1a;
    font-size: 16px;
}
#product1 .pro .des i{
    color: rgb(243,181,25);
    font-size: 14px;
    padding: 0 0 0 7px;
}
#product1 .pro .des h4{
    color: #088178;
    font-size: 18px;
    font-weight: 700;
    padding: 0 0 0 7px;
}

#product1 .pro a{
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    right: 15px;
    line-height: 40px;
}

/* Banner section */
#banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 40vh;
    background-image: url('img/banner/b2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#banner h4{
    color: white;
    font-size: 22px;
}
#banner h2{
    color: white;
    font-size: 35px;
    padding: 10px 0;
}
#banner h2 span{
    color: #ef3636;
}
#banner button:hover{
    background-color: #088178;
    color: white;
}


/* Small Banner Section */
#sm-banner{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#sm-banner .banner-box{
    min-width: 580px;
    height: 50vh;
    background-image: url('img/banner/b17.jpg');
    background-size: cover;
    background-position: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#sm-banner .banner-box2{
    background-image: url('img/banner/b10.jpg');
}
#sm-banner h4{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}

#sm-banner h2{
    color: #fff;
    font-size: 33px;
    font-weight: 800;
}
#sm-banner span{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}
#sm-banner button.white{
    font-size: 16px;
    font-weight: 600;
    padding: 11px 18px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transform: 0.2s;
    outline: none;
}

#sm-banner .banner-box:hover button{
    background-color: #088178;
    border:1px solid #088178;
}

/* Banner Section */
#banner3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
}

#banner3 .banner-box{
    width: 30%;
    height: 30vh;
    background-image: url('img/banner/b7.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#banner3 .banner-box2{
    background-image: url('img/banner/b4.jpg');
}
#banner3 .banner-box3{
    background-image: url('img/banner/b18.jpg');
}

#banner3 h2{
    color: white;
    font-weight: 900;
    font-size: 25px;
}

#banner3 h3{
    color: #ec544e;
    font-weight: 800;
    font-size: 22px;
}


/* Newsletter Section */
#newsletter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-image: url('img/banner/b14.png');
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42b6;    
}
#newsletter .form{
    display: flex;
    width: 40%;
}
#newsletter h4{
    font-size: 25px;
    font-weight: 700;
    color: white;
}
#newsletter p{
    font-size: 18px;
    font-weight: 600;
    color: #a2b2c9;
}

#newsletter p span{
    color: #ffbd27;
}

#newsletter input{
    height: 3.125rem;
    width: 100%;
    padding: 0 20px;
    font-size: 16px;
    border-radius: 4px 0 0 4px;
    outline: none;
    border: 1px solid transparent;
}

#newsletter button{
    background-color: #088178;
    color: white;
    border-radius: 0 4px 4px 0;
    white-space: nowrap;    
}

/* Footer */
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .copyright{
    width: 100%;
    text-align: center;
}
footer .copyright p{
    font-size: 18px;
}
footer .logo{
    margin-bottom: 30px;
}
footer h4{
    font-size: 16px;
    padding-bottom: 20px;
}
footer p{
    font-size: 15px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 16px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}
footer .follow{
    margin-top: 20px;
}
footer .follow i{
    color: #465252;
    padding-right: 10px;
    font-size: 20px;
    cursor: pointer;
}
footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
}
footer .install img{
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover{
    color: #088178;
}

